:root {
    --tls-orange: #FCA817;
    --tls-light-blue: #41AFC6;
}
body, .wrapper {
    background: #F2F7FA !important;
    min-width: unset !important;
}
.slideshow {
    display: none;
}
.rwd-bs {
    margin-top: 122px;
}
.header {
    background: #002e3f !important;
}
a:hover { 
    text-decoration: none !important;
}
p {
    margin: 0 !important;
}

h1,h2,h3,h4,h5,h6 {
    color: #002E3F;
}

strong {
    font-weight: 700;
}
#hero {
    /* background-color: #333; */
    background-image: url('https://www.thelawsuperstore.co.uk/MediaLibrary/TheLawSuperstore/SampleMediaLibrary/MicrosoftTeams-image-2.png');
    background-size: cover;
    background-position: bottom;
    /* height: 340px; */
    height: 400px;
    display: flex;
    align-items: center;
    color: #fff;
}
#hero h1 {
    color: #fff !important;
    font-weight: 900;
    font-size: 2.5rem;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.full-width-search,
.category-icons {
    display: none !important;
}
.heroContainer div {
    max-width: 400px;
}
#topCards {

}
.top-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    height: 100%;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgb(236, 236, 236);
}
.top-card p {
    flex-grow: 1;
}

.top-card h3 {
    text-transform: capitalize;
    min-height: 55px;
    font-size: 21px;
}
.top-card img {
    min-width: 100%;
    margin: 15px 0;
    border-radius: 5px;
}
.trusted {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.trusted p {
    margin-top: 0;
    padding: 10px;
    font-weight: 700;
}
.trusted i {
    font-size: 2rem;
}
.btn--orange {
    background: var(--tls-orange);
    border-color: var(--tls-orange);
    text-transform: capitalize;
    font-weight: 700;
}
#categories {
    padding: 39px 0;
}
.tls-cat-link {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    padding: 20px;
    align-items: center;
    margin-bottom: 20px;
    margin: 20px 0 10px 0;
    transition: all .3s;
    box-shadow: 5px 10px 15px #eaeaea;
}
.tls-cat-link:hover {
    box-shadow: 5px 10px 15px #d3d3d3;
    background-color: #002E3F;
    color: #fff;
}
.tls-cat-link div:first-of-type {
    background-color: #F2F7FA;
    border: 1px solid #666;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #002E3F !important;
}
@media(max-width: 992px) {
    .tls-cat-link div:first-of-type {
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
    .tls-cat-link i:not(.fa-arrow-right) {
        font-size: 16px !important;
    }

    #topCards .col-12 {
        margin-bottom: 40px;
    }
}
.tls-cat-link div:first-of-type i {
    font-size: 26px;
}

.fa-arrow-right {
    color: var(--tls-orange);
    font-size: 22px;
}
#works {
    background-color: var(--tls-light-blue);
    padding: 50px 0 50px 0;
    color: #fff;
}
#works h2 {
    color: #fff;
    margin-bottom: 1.5rem;
}
#works iframe {
    color: #fff;
    margin-top: 1.7rem;
}
.works-point i {
    background-color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--tls-light-blue);
    margin: 15px 10px 15px 0;
    font-size: .9rem;
}
#who {
    position: relative;
    /* min-height: 500px; */
    padding: 50px 0 70px 0;
    background-color: #fff;
}
#who::before {
    content: '';
    position: absolute;
    inset: 0;
    left: 50%;
    background-color: #002E3F;
}
@media(max-width: 768px) {
    #who {
        background-color: unset;
    }
    #who::before {
            display: none;
        }
    #who .col-12:nth-child(1) {
        padding: 50px !important;
    }
    #who .col-12:nth-child(2) {
        background-color: #002E3F;
    }

}
#who .col-12:nth-child(2) {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 50px;
}
#who .col-12:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 50px;
}
/* #who h2 {
    font-weight: 900;
} */
#who ul {
    padding-left: 0;
}
#who li {
    list-style-type: none;
    margin-bottom: 8px;
    display: flex;
}
#who li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: green;
    margin-right: 10px;
}
.works-point {
    display: flex;
    align-items: center;
}
.bold-point {
    display: flex;
    /* justify-content: space-between; */
    min-height: 150px;
    align-items: center;
}
.bold-point div:first-child {
    min-width: 70px;
}
.bold-point i {
    font-size: 50px;
    margin-right: 10px;
}
#testimonials {
    display: none;
}
#tls-reviews {
    padding: 58px 0 58px 0;
    position: relative;
    background-color: #fff;
}
.glide__slide {
    color: #333;
    border: 1px solid rgb(191, 191, 191);
    background-color: #fff;
    border-radius: 10px;
    height: 300px;
}
.glide__slide .core {
    min-width: unset !important;
    max-width: unset !important;
    height: 100%;
}
.glide__bullets {
    bottom: -28px;
}
/* .glide__bullet {
   background-color: #002E3F;
} */

article.testimonial {
    height: 100%;
    margin-top: 0;
}
.testimonial__body {
    color: #333;
    font-size: .95rem;
}
.testimonial__blockquote {
    color: #333;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 0;
}
.testimonial__blockquote div:nth-of-type(1){
    margin-bottom: 10px;
}
.testimonial__blockquote i {
    font-size: 16px;
    color: #008c28;
}
.testimonial__blockquote footer {
    order: 3;
    font-style: italic;
}
.testimonial__blockquote footer::before {
    content: '';
}
.testimonial__blockquote p {
    flex-grow: 1;
    order: 2;
}

#creditations {
    background-color: var(--tls-light-blue);
    color: #fff;
    padding: 48px 0 48px 0;
}
#logosDiv {
    display: flex;
    justify-content: space-between;
    margin: 40px 0;
}
@media(max-width: 992px) {
    #logosDiv img {
        max-width: 150px;
        /* min-width: 50%; */
    }
}
@media(max-width: 768px) {
    #logosDiv {
        flex-direction: column;
    }
    #logosDiv img {
        margin-bottom: 40px;
        margin: 0 auto 40px auto;
        max-width: 90%;
        min-width: 80%;
    }
}
#creditations h2 {
   color: #fff !important;
}
#topFooter a {
    display: block;
    color: var(--tls-light-blue)
}
#topFooter a:hover {
    color: #21616d;
}
#topFooter {
    padding: 48px 0;
}
#topFooter .row {
    padding: 28px 0;
}

@media(max-width: 768px) {
    #topFooter .row div:not(#topFooter .row div:nth-of-type(1)) {
        height: 0;
        min-height: 0px;
        opacity: 0;
        transition: all .4s;
        overflow: hidden;
    }
    .show {
        height: fit-content !important;
        opacity: 1 !important;
    }
    #topFooter .row {
        padding: 8px 0;
    }
    #topFooter .row {
        border-bottom: 1px solid var(--tls-light-blue);
        /* padding: 0px 10px 10px 10px; */
    }
    #topFooter h3 {
        font-size: 20px;
    }
    #topFooter h3::after {
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        content: "\f078";
        color: #014963;
        margin-right: 10px;
        position: absolute;
        right: 0;
        top: 3px;
    }
    #topFooter a {
        padding: 5px 0;
    }
}

#faqs {
    padding: 48px 0;
}
#faqs h2 {
    margin-bottom: 10px;
}
#faqs p:not(.accordion__txt p) {
    margin-bottom: 20px !important;
}
.accordion__txt p {
    padding: 10px 0;
}
.accordion__txt {
    padding: 0px 0;
}
#faqs .accordion {
    padding: 10px 0;
    border-bottom: 1px solid var(--tls-light-blue);
    position: relative;
}
#faqs .accordion::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f078";
    color: #04698e;
    margin-right: 10px;
    position: absolute;
    right: 0;
    top: 8px;
}
#faqs .accordion .accordion__title a {
    color: #04698e !important;
    font-weight: 700;
}
#faqs .accordion .accordion__title a:hover {
    color: #032f3f !important;
}
@media(max-width: 768px) {
    #faqs .accordion .accordion__title a {
        max-width: 400px;
    }
}
@media(max-width: 500px) {
    #faqs .accordion .accordion__title a {
        max-width: 300px;
    }
}
@media(max-width: 362px) {
    #faqs .accordion .accordion__title a {
        max-width: 200px;
    }
}